<div class="flex flex-col max-w-md p-6 rounded-md sm:p-10 dark:bg-gray-900 dark:text-gray-100">
  <div class="mb-8 text-center">
    <h1 class="my-3 text-4xl font-bold">Inscription</h1>
    <p class="text-sm dark:text-gray-400">S'incrire pour accéder au site</p>
  </div>
  <form novalidate="" action="" class="space-y-12">
    <div class="space-y-4">
      <div>
        <label for="email" class="block mb-2 text-sm">Nom</label>
        <input type="email" name="email" id="nom" placeholder="leroy@jenkins.com" [(ngModel)]="nom" class="w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100">
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm">Prenom</label>
        <input type="email" name="email" id="prenom" placeholder="leroy@jenkins.com" [(ngModel)]="prenom" class="w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100">
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm">Numéro de telephone</label>
        <input type="email" name="email" id="telephone" placeholder="leroy@jenkins.com" [(ngModel)]="numeroTel" class="w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100">
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm">Email address</label>
        <input type="email" name="email" id="email" placeholder="leroy@jenkins.com" [(ngModel)]="email" class="w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100">
      </div>
      <div>
          <label for="password" class="text-sm">Password</label>
          <input type="password" name="password" id="password" placeholder="*****" [(ngModel)]="password" class="w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100">
      </div>

    </div>
    <div class="space-y-2">
      <div>
        <button type="button" (click)="inscire()" class="w-full px-8 py-3 font-semibold rounded-md dark:bg-violet-400 dark:text-gray-900">S'inscrire</button>
      </div>
    </div>
  </form>
</div>
