<form [formGroup]="article" (ngSubmit)="onSubmit()">
  <div>
    <label for="titre">Titre de l'article :</label>
    <input type="text" id="titre" formControlName="titre" />
    <div *ngIf="article.get('titre')">
      Le titre est requis.
    </div>
  </div>

  <div>
    <label for="contenu">Contenu de l'article :</label>
    <textarea id="contenu" formControlName="contenu"></textarea>
    <div *ngIf="article.get('contenu')">
      Le contenu est requis.
    </div>
  </div>

  <button type="submit">Publier</button>
</form>
