<div class="pl-20 pr-20">
  <div class="text-3xl font-bold mt-20 mb-20">Accueil</div>
  <div class="flex flex-row flex-wrap gap-10 mb-20">
    <div *ngFor="let blog of afficheBlog">
      <article [routerLink]="['/blog', blog.identifiant]" class="cursor-pointer max-w-md p-6 overflow-hidden rounded-lg shadow dark:bg-gray-900 dark:text-gray-100">
        <article>
          <h2 class="text-xl font-bold">{{ blog.nom }}</h2>
          <div class="flex items-center mt-8 space-x-4">
            <img src="https://source.unsplash.com/100x100/?portrait" alt="" class="w-10 h-10 rounded-full dark:bg-gray-500">
          </div>
        </article>
      </article>
    </div>
  </div>
</div>

