<div>
  <div class="bg-indigo-50 pl-80 pr-80 pt-20 pb-20 mb-24">
  <div  class="bg-white rounded-3xl w-100 h-100 p-10" >
    <div class="text-center"><p class="text-3xl font-bold mb-20"></p></div>
    <div>
      <ul class="text-2xl font-bold ">
        <li class="mb-5">Auteur : </li>
        <li class="mb-5">Date de sortie : </li>
        <li class="mb-5">Thème : </li>
      </ul>
    </div>
  </div>
</div>
  <div>
  <div class=" pl-80 pr-80 mb-20">
  <section class="mb-10">
    <h2 class="text-2xl font-bold"></h2>
    <p class="text-lg my-4">
      Beaucoup de personnes ont déjà songé à lancer un blog, notamment pour en faire un véritable business en ligne. Le problème, c'est que si de nombreux entrepreneurs web parient de blogging, peu d'entre eux montrent un blog fonctionnel qui rapporte de l'argent.
    </p>
    <p class="text-lg my-4">
      Pourtant, il existe bel et bien des blogs de qualité en France. Par blog de qualité, on parle d'un site qui fournit des contenus à valeur ajoutée, mais qui est aussi monétisé. Car un blog qui ne rapporte rien, ce n'est pas forcément intéressant! (surtout si tu veux gagner ta vie grâce à internet)
    </p>
    <p class="text-lg my-4">
      Si tu t'intéresses au blogging, on va t'aider en te montrant des exemples de blogs qui cartonnent. Et tu verras qu'en plus d'attirer du trafic, tous ces blogs sont de véritables business, qui permettent à leur créateur d'en vivre.
    </p>
  </section>
  <section>
    <h3 class="text-xl font-bold">Des exemples de blogs qui fonctionnent en février 2024</h3>
    <ul class="list-disc list-inside my-4">
      <li>Blog 1</li>
      <li>Blog 2</li>
      <li>Blog 3</li>
    </ul>
  </section>
</div>
</div >
</div>