<section class="p-6 dark:bg-gray-800 dark:text-gray-50">
  <form novalidate="" action="" class="container flex flex-col mx-auto space-y-12">
    <fieldset class="grid grid-cols-4 gap-6 p-6 rounded-md shadow-sm dark:bg-gray-900">
      <div class="space-y-2 col-span-full lg:col-span-1">
        <p class="font-medium">Mon compte</p>
      </div>
      <div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
        <div class="col-span-full sm:col-span-3">
          <label for="firstname" class="text-sm">Prénom</label>
          <input id="firstname" type="text" [(ngModel)]="prename" [ngModelOptions]="{standalone: true}" placeholder="First name" class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:dark:ring-violet-400 dark:border-gray-700 dark:text-gray-900">
        </div>
        <div class="col-span-full sm:col-span-3">
          <label for="lastname" class="text-sm">Nom</label>
          <input id="lastname" type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Last name" class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:dark:ring-violet-400 dark:border-gray-700 dark:text-gray-900">
        </div>
        <div class="col-span-full sm:col-span-3">
          <label for="email" class="text-sm">Email</label>
          <input id="email" type="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:dark:ring-violet-400 dark:border-gray-700 dark:text-gray-900" style="padding-right: 41.6px !important;" data-protonpass-base-css="{&quot;padding-right&quot;:&quot;&quot;}">
        </div>
        <div class="col-span-full">
          <label for="address" class="text-sm">Mot de passe</label>
          <input id="address" type="password" placeholder="" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:dark:ring-violet-400 dark:border-gray-700 dark:text-gray-900">
        </div>
        <div class="col-span-full sm:col-span-2">
          <label for="tel" class="text-sm">Téléphone</label>
          <input id="tel" type="tel" placeholder="" [(ngModel)]="tel" [ngModelOptions]="{standalone: true}" class="w-full rounded-md focus:ring focus:ring-opacity-75 focus:dark:ring-violet-400 dark:border-gray-700 dark:text-gray-900">
        </div>
      </div>

      <div class="col-span-full sm:col-span-2">
        <input (click)="modifierCompte()" id="modifCompte" type="button" value="Modifier mon compte" class="w-full cursor-pointer rounded-md focus:ring focus:ring-opacity-75">
      </div>
      <div class="col-span-full sm:col-span-2">
        <input (click)="supprimerCompte()" id="supprCompte" type="button" value="Supprimer mon compte" class="w-full cursor-pointer rounded-md focus:ring focus:ring-opacity-75">
      </div>
    </fieldset>
  </form>
</section>
